body {
	background-color: #FFDFF3;
}

h1 {
	color: #7F7079;
	font: helvetica;
}

p {
	color: #4C4349;
	font: helvetica;
}
ul {
	color: #4C4349;
	font: helvetica;
	margin-left: 20px;
}
li {
	color: #4C4349;
	font: helvetica;
	margin-left: 20px;
}

p.slogan {
	font-style: italic;
}