body {
	background-color: #FFDFF3;
}

h1 {
	color: #7F7079;
	font-family: helvetica;
}

p {
	color: #4C4349;
	font-family: helvetica;
}
ul {
	margin-left:20px;
}

p.slogan {
	text-transform: italic;
}